body{
    background-color: rgb(177, 177, 222);
}
.style{
    background-color: white;
    text-align: center;
    width:250px;
    
    padding: 10px 5px;
    margin: 5px;
    border-radius: 20px;
}
button{
    border:1px none;
    padding: 5px 20px;
}
.outer{
    text-align: center;
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 10px 5px;
    margin: 10px;
}
.circle{
    text-align: center;
    
    width: 200px;
    height: 200px;
    margin:auto;
    margin-top: 50px;
    border-radius: 50%;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#color{
    background-color: red;
}
#hex{
    background-color: #257590;
}
#rgb{
    background-color: rgb(177, 177, 222);
}
#rgba{
    background-color: rgba(177,177,222,0.6);
}
#hsl{
    background-color: hsl(520,67%,85%);
}
#hsla{
    background-color: hsla(520,67%,85%,0.6);
}
#linear{
    background: linear-gradient(to top,orange,blue)
}
#radial{
    background: radial-gradient(orange,blue,green);
}
.shadow{
    text-align: center;
    background-color: black;
    width:400px;
    height: 400px;
    padding: 10px 5px;
    margin: 10px;
}
#box{
    box-shadow: 10px 8px  white;
}
.lol{
    background: repeating-linear-gradient(orange 0px,orange 10px,blue 10px,blue 20px);
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
.lol{
    background: repeating-radial-gradient(closest-side at 30px 30px,green,blue);
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 50%;
}