.style{
    background-color: rgba(28, 144, 53, 0.373);
    text-align:center;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}
#sheet{
    background-color: rgb(133, 141, 86);
}