#top{
    background-color: yellow;
    color:blue;
    text-indent: 30px;
    margin-bottom: 0px;
}
.banner{
    border:2px solid greenyellow;
    width:auto;
    height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.shop-btn{
    background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;        
  border-radius: 10px;       
  cursor: pointer;
  /* font-size: 13px; */
}
.shop-btn:hover{
    background-color: #253fff;
}
.banner>h1{
    margin-top: 125px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
#head{
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.parent{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.child{
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
    /* border: 1px solid black; */
    width: 300px;
    /* height: 400px; */
    padding: 9px 5px;
    margin: 10px;

    /* background-color: aqua;
    text-align: center;
    width: 100px;
    height: 400px; */
}
.child:hover{
    background: linear-gradient(to left,orange,red,yellow);
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px ;
}